<h1>Beerchat</h1>

<%= turbo_frame_tag "new_message" do %>
  <%= render "form", message: Message.new %>
<% end %>

<%= turbo_stream_from "messages_index" %>
<div id="messages">
  <% @messages.each do |message| %>
    <%= render "message", message: message %>
  <% end %>
</div>
