<turbo-frame id="about_style">
  <div class="card">
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem beatae consectetur deleniti, dicta dignissimos doloremque dolores eligendi eveniet excepturi exercitationem nisi provident qui quibusdam reprehenderit saepe, sit sunt voluptates.</span><span>Aspernatur blanditiis enim error molestiae nostrum nulla ut voluptatem? Accusamus dolores error id, ipsa possimus quod recusandae sint veniam? A cum dolores excepturi fugit magnam minus nisi odit, pariatur quod.</span><span>Ab amet, blanditiis consectetur consequuntur dignissimos ea facilis fuga impedit iusto laborum omnis possimus quidem rem repellendus tenetur ut voluptatum. Autem consequatur eum eveniet hic, illum inventore optio quibusdam quos?</span>
    </p>
  </div>
</turbo-frame>