

<h1>Styles</h1>

<ul class="list-group list-group-flush">
  <% @styles.each do |style| %>
      <li class="list-group-item">
        <%= link_to style.name, style_path(style) %>
      </li>
  <% end %>
</ul>

<!--<p>-->
<%#= link_to "New style", new_style_path %>
<!--</p>-->